body {
  font-family: ArianAMUSerifRegular, Tahoma, Arial;
  color: #505050;
  font-size: 14px;
}
body h1 {
  font-family: MolotRegular;
}
body footer {
  margin: 50px 0;
  font-size: 12px;
}
body footer span > span {
  color: red;
}
body textarea {
  resize: vertical;
}
.menu {
  font-family: MolotRegular;
  text-transform: uppercase;
  font-size: 16px;
  width: 80%;
  margin: 20px auto;
}
.menu li {
  border-left: 2px solid #505050;
  padding: 0;
}
.menu li:last-child {
  border-right: 2px solid #505050;
}
.menu a,
.menu a.active {
  background-color: #FFF !important;
  color: #505050 !important;
  text-align: center;
}
.menu .active {
  border-top: 2px solid #505050;
}
.menu .toggle-menu {
  border: none;
  background-color: #FFF;
  font-size: 26px;
  width: 100%;
  text-align: left;
}
.menu .glyphicon-th-list {
  margin-top: 5px;
}
#main_page,
#add_webm,
#about,
#contacts {
  width: 66%;
  margin: 10px auto;
}
#main_page .static,
#add_webm .static,
#about .static,
#contacts .static {
  display: none;
}
#main_page .source,
#add_webm .source,
#about .source,
#contacts .source {
  border: none;
  overflow: hidden;
  padding: 0;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
#main_page .source .panel-heading,
#add_webm .source .panel-heading,
#about .source .panel-heading,
#contacts .source .panel-heading {
  background: #5adb51 linear-gradient(#9cf291, #31b82b 80%);
  color: #FFF;
  padding: 7px;
  margin-right: -2px;
}
#main_page .source .panel-body,
#add_webm .source .panel-body,
#about .source .panel-body,
#contacts .source .panel-body {
  padding: 10px;
  height: 50px;
}
#main_page .play,
#add_webm .play,
#about .play,
#contacts .play {
  display:block;
  position:relative;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  border: 1px solid #4a9d45;
  border-radius: 8px;
  outline: none;
  background: #5adb51 linear-gradient(#9cf291, #31b82b 80%);
  box-shadow: 0 6px #218b13, 0 3px 15px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  transition: .2s;
}
#main_page .play:hover,
#add_webm .play:hover,
#about .play:hover,
#contacts .play:hover {
  text-decoration: none;
  color: #FFF;
  background: #8ce685 linear-gradient(#b8f6b0, #5ac655 80%);
}
#main_page .play:active,
#add_webm .play:active,
#about .play:active,
#contacts .play:active {
  background: #5adb51 linear-gradient(#9cf291, #31b82b 80%);
  box-shadow: 0 2px #218b13, 0 1px 6px rgba(0, 0, 0, 0.4), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
#main_page .play span,
#add_webm .play span,
#about .play span,
#contacts .play span {
  display: block;
  position: absolute;
  font-family: MolotRegular;
  font-size: 50px;
  bottom: 4%;
  left: 36%;
}
#main_page .play img,
#add_webm .play img,
#about .play img,
#contacts .play img {
  position: absolute;
  width: 25%;
  bottom: 11%;
  left: 6%;
}
#main_page .col-sm-offset-1,
#add_webm .col-sm-offset-1,
#about .col-sm-offset-1,
#contacts .col-sm-offset-1 {
  padding: 0;
}
#add_webm .btn-success {
  margin-top: 10px;
}
#add_webm .btn-file {
  position: relative;
  overflow: hidden;
  padding: 6px;
}
#add_webm .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
#add_webm .glyphicon-folder-open {
  margin-right: 5px;
}
#add_webm .glyphicon-floppy-open {
  font-size: 15px;
  margin-right: 5px;
}
#add_webm input[readonly] {
  background-color: white !important;
  cursor: text !important;
  margin-top: 10px;
}
#add_webm .new-button .fv-icon-no-label {
  top: 10px;
}
#add_webm .webm-result {
  display: none;
}
#add_webm progress {
  width: 100%;
  height: 25px;
}
#about ul {
  list-style: none;
  padding: 0;
}
#contacts ul {
  list-style: none;
  padding: 0;
}
#contacts .btn-success {
  float: right;
}
#contacts .message-result {
  float: left;
  width: 66%;
  padding: 7px;
  display: none;
}
#contacts .glyphicon-envelope {
  margin-right: 5px;
}
.version {
  float: left;
  margin-left: 17%;
}
.copyrights {
  float: right;
  margin-right: 17%;
}
.source-field {
  margin-top: 15px;
}
.add-webm,
.read-message {
  float: left;
}
.delete {
  float: right;
}
.panel {
  padding: 5px;
}
.message-field {
  margin-top: 11px;
}
.login-field {
  width: 250px;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.login-error {
  width: 250px;
  height: 75px;
  position: relative;
  top: 320px;
  margin: auto;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
