.uploadDialog h3 + div {
  overflow-y: scroll !important;
}

.previewGenerator {
  display: block;
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}

.videoPreview {
  display: block;
  width: auto;
  height: 200px;
  margin: 0 auto;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
