.previewGenerator {
  display: block;
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  font-size: 24px;
  border: 3px dashed #666;
  border-radius: 6px;
}

.uploadFileBtn {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  color: #00bcd4;
  font-weight: 300;
  cursor: pointer;
}

.uploadFileBtn:hover,
.uploadFileBtn:focus {
  text-decoration: underline;
  outline: none;
}

.uploadWrapper {
  width: 100%;
  text-align: center;
  padding: 10px 50px;
}

.uploadingText {
  font-size: 18px;
  margin-top: 10px;
}

.progressBar {
  height: 6px !important;
}

.videoPreview {
  display: block;
  width: auto;
  height: 200px;
  margin: 0 auto;
}
