@import '../../components/variables.css';

.root {
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  margin: 0 auto;
  padding: 0 0 2em;
  max-width: var(--max-content-width);
}

.webmInfiniteScroll {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.webmItemWrapper {
  width: 33.33333%;
  height: 196px;
  padding: 8px;
  box-sizing: border-box;
}

.webmItem > div {
  height: auto !important;
  padding: 0.5em;
}

.webmItem > div > div {
  margin: 0 !important;
}

.listHeader,
.webmTitle,
.webmSubtitle,
.webmTitle > div,
.webmRating > div {
  display: flex;
  align-items: center;
}

.webmTitle svg,
.webmSubtitle svg {
  margin-right: 4px;
}

.listOrder,
.webmRating {
  margin-left: auto;
}

.webmRating > div:last-of-type {
  margin-left: 0.5em;
}

.previewWrapper {
  position: relative;
  display: block;
  height: 100%;
}

.previewWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  width: 100% !important;
  margin: 1em auto 0;
  text-align: center;
}

.selectedWebmWrapper {
  padding: 0 !important;
  max-height: none !important;
}

.dialog {
  max-width: var(--max-content-width) !important;
}

.closeButtonWrapper {
  padding: 0 !important;
}

.closeButton {
  position: absolute !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  right: -40px;
  top: -40px;
  padding: 0 !important;
}

.closeButton:hover svg,
.closeButton:focus svg {
  color: white !important;
}

.closeButton svg {
  width: 36px !important;
  height: 36px !important;
  color: #828383 !important;
}

.navigationArrow {
  position: absolute !important;
  width: auto !important;
  height: auto !important;
  left: -80px;
  top: 241px;
}

.navigationArrowRight {
  left: auto;
  right: -80px;
}

.navigationArrow svg {
  width: 56px !important;
  height: 56px !important;
  color: #828383 !important;
}

.navigationArrow:hover svg {
  color: white !important;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
