.appBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px !important;
  background-color: #4caf50 !important;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.appBar svg {
  color: white !important;
}

.menuBtn {
  margin: 0 8px !important;
}

.uploadBtn {
  margin-right: 8px !important;
}

.appBarTitle {
  font-size: 24px !important;
  color: white !important;
  font-weight: normal;
}

.searchInputWrapper > div {
  color: white !important;
}

.searchInputWrapper input {
  color: white !important;
}

.searchInputWrapper hr {
  display: none !important;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
