:root {
  --font-family-base: 'Roboto', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  --max-content-width: 1000px;
  --primary-color: #4caf50;

  @custom-media --phone-portrait (width <= 480px);
  @custom-media --phone (width <= 768px);
  @custom-media --tablet (width > 768px);
}
