.videoProportionsWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  z-index: 0;
}

.videoProportionsWrapper:-webkit-full-screen {
  padding-bottom: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .videoProportionsWrapper {
    height: 100%;
  }
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

.video:hover ~ .videoControls,
.video.paused ~ .videoControls {
  opacity: 1;
}

.video.controlsHidden:not(.paused) {
  cursor: none;
}

.video.controlsHidden:not(.paused) ~ .videoControls {
  opacity: 0;
  cursor: none;
}

:-webkit-full-screen .video {
  width: 100%;
  height: 100%;
}

.video::-webkit-media-controls {
  display: none !important;
}

.videoControls {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 5px 12px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 2147483647;
}

.videoControls::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 98px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==) bottom;
  z-index: -1;
}

.videoControls:hover {
  opacity: 1;
}

.videoControls svg {
  width: 30px !important;
  height: 30px !important;
  fill: white !important;
}

.videoControls button {
  width: 42px !important;
  height: 42px !important;
  padding: 6px !important;
}

.toggleFullScreenBtn {
  margin-left: auto !important;
}

.toggleVolumeBtn:hover ~ .volumeSlider,
.volumeSlider:hover {
  width: 52px;
}

.toggleVolumeBtn:hover ~ .videoTimers,
.volumeSlider:hover ~ .videoTimers {
  margin-left: 10px;
}

.toggleVolumeBtn:hover ~ .volumeSlider > div > div > div:last-of-type,
.volumeSlider:hover > div > div > div:last-of-type {
  display: block;
}

.volumeSlider {
  width: 0;
  margin: 0 5px;
  transition: width 0.2s;
}

.volumeSlider > div {
  margin: 0 !important;
}

.volumeSlider > div > div {
  height: 3px !important;
}

.volumeSlider > div > div > div:first-of-type,
.volumeSlider > div > div > div:last-of-type {
  background-color: white !important;
}

.volumeSlider > div > div > div:last-of-type {
  display: none;
}

.videoTimers {
  color: white;
}

.progressWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 44px;
  padding: 0 12px;
  box-sizing: border-box;
}

.downloadingProgress,
.playingProgress {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.downloadingProgress {
  top: 11px;
}

.downloadingProgress > div {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.playingProgress {
  position: relative;
  width: 100%;
  bottom: 1px !important;
  background-color: transparent !important;
}

.playingProgress > div {
  margin: 0 !important;
}

.playingProgress > div > div {
  height: 4px !important;
}

.playingProgress:not(:hover) > div > div > div:last-of-type {
  width: 0 !important;
  height: 0 !important;
}

.playingProgress > div > div > div {
  cursor: pointer;
}

.playingProgress > div > div > div:first-of-type,
.playingProgress > div > div > div:last-of-type {
  background-color: #f00 !important;
}

.playingProgress > div > div > div:nth-of-type(2),
.playingProgress > div > div > div:nth-of-type(2):hover,
.playingProgress > div > div > div:nth-of-type(2):focus {
  background-color: transparent !important;
}

.videoIcon {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.videoIcon svg circle {
  stroke: #ddd !important;
}
